{% extends "front/base_front.html" %} {% load static %} {% block konten %}

<div class="sec">
  <div class="image">
    <img
      src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png"
    />
  </div>

  <div class="content">
    <h2 class="text-dark">About Us</h2>
    <span><!-- line here --></span>
    <p class="text-dark">
      Setiap orang adalah pemicu sedih. Terima kasih telah mengunjungi situs web
      saya, saya akan terus mendukung Anda. Siapa penulis saya? Duis tempus elit
      quis risus congue feugiat. Terima kasih telah mampir ke Blog Teknologi!
    </p>
    <ul class="links">
      <li><a href="#" class="text-dark">work</a></li>
      <div class="vertical-line"></div>
      <li><a href="#" class="text-dark">eat</a></li>
      <div class="vertical-line"></div>
      <li><a href="#" class="text-dark">sleep</a></li>
    </ul>
    <ul class="icons">
      <li>
        <i class="fa fa-twitter"></i>
      </li>
      <li>
        <i class="fa fa-facebook"></i>
      </li>
      <li>
        <i class="fa fa-github"></i>
      </li>
      <li>
        <i class="fa fa-pinterest"></i>
      </li>
    </ul>
  </div>
</div>

{% endblock konten %}
