{% extends "front/base_front.html" %} {% load static %} {% block konten %}

<section class="section first-section">
  <div class="container-fluid">
    <div class="masonry-blog clearfix">
      <div class="first-slot">
        <div class="masonry-box post-media">
          <img
            src="{{data1.thumb}}"
            style="
              object-fit: cover;
              object-position: center;
              width: 788px;
              height: 449px;
            "
            alt=""
            class="img-fluid"
          />
          <div class="shadoweffect">
            <div class="shadow-desc">
              <div class="blog-meta">
                <span class="bg-orange"
                  ><a href="category-01.html" title="">News</a></span
                >
                <h4>
                  <a href="{% url 'detail' data1.key %}" title=""
                    >{{data1.title}}</a
                  >
                </h4>
                <small><a title="">by Bima Satria</a></small>
              </div>
              <!-- end meta -->
            </div>
            <!-- end shadow-desc -->
          </div>
          <!-- end shadow -->
        </div>
        <!-- end post-media -->
      </div>
      <!-- end first-side -->

      <div class="second-slot">
        <div class="masonry-box post-media">
          <img
            src="{{data2.thumb}}"
            style="
              object-fit: cover;
              object-position: center;
              width: 394px;
              height: 449px;
            "
            alt=""
            class="img-fluid"
          />
          <div class="shadoweffect">
            <div class="shadow-desc">
              <div class="blog-meta">
                <span class="bg-orange"
                  ><a href="category-01.html" title="">News</a></span
                >
                <h4>
                  <a href="{% url 'detail' data2.key %}" title=""
                    >{{data2.title}}</a
                  >
                </h4>
                <small><a title="">by Bima Satria</a></small>
              </div>
              <!-- end meta -->
            </div>
            <!-- end shadow-desc -->
          </div>
          <!-- end shadow -->
        </div>
        <!-- end post-media -->
      </div>
      <!-- end second-side -->

      <div class="last-slot">
        <div class="masonry-box post-media">
          <img
            src="{{data3.thumb}}"
            style="
              object-fit: cover;
              object-position: center;
              width: 394px;
              height: 449px;
            "
            alt=""
            class="img-fluid"
          />
          <div class="shadoweffect">
            <div class="shadow-desc">
              <div class="blog-meta">
                <span class="bg-orange"
                  ><a href="category-01.html" title="">News</a></span
                >
                <h4>
                  <a href="{% url 'detail' data3.key %}" title=""
                    >{{data3.title}}</a
                  >
                </h4>
                <small><a title="">by Bima Satria</a></small>
              </div>
              <!-- end meta -->
            </div>
            <!-- end shadow-desc -->
          </div>
          <!-- end shadow -->
        </div>
        <!-- end post-media -->
      </div>
      <!-- end second-side -->
    </div>
    <!-- end masonry -->
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <div class="page-wrapper">
          <div class="blog-top clearfix">
            <h4 class="pull-left">
              Recent News <a href="#"><i class="fa fa-rss"></i></a>
            </h4>
          </div>
          <!-- end blog-top -->

          <div class="blog-list clearfix">
            {% for d in data %}
            <div class="blog-box row">
              <div class="col-md-4">
                <div class="post-media">
                  <a href="{% url 'detail' d.key %}" title="">
                    {% if d.thumb == null %}
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqEWgS0uxxEYJ0PsOb2OgwyWvC0Gjp8NUdPw&usqp=CAU"
                      alt=""
                      class="img-fluid"
                    />
                    {% endif %}
                    <img src="{{d.thumb}}" alt="" class="img-fluid" />
                    <div class="hovereffect"></div>
                  </a>
                </div>
                <!-- end media -->
              </div>
              <!-- end col -->

              <div class="blog-meta big-meta col-md-8">
                <h4>
                  <a href="{% url 'detail' d.key %}" title="">{{d.title}}</a>
                </h4>
                <p>{{d.desc}}</p>
                <small class="firstsmall"
                  ><a class="bg-orange" href="category-01.html" title=""
                    >Development</a
                  ></small
                >
                <small><a title="">by Bima Satria</a></small>
              </div>
              <!-- end meta -->
            </div>
            <!-- end blog-box -->

            <hr class="invis" />
            {% endfor %}

            <!-- end blog-box -->
          </div>
          <!-- end blog-list -->
        </div>
        <!-- end page-wrapper -->

        <hr class="invis" />

        <div class="row">
          <div class="col-md-12">
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-start">
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end col -->

      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
{% endblock konten %}
